@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: rgb(255, 255, 255);
  --highlight-color: rgb(197, 248, 42);
  --body-background: rgb(20, 20, 20);
  --main-container: rgb(31, 31, 31);
  --link-color: rgb(51, 51, 51);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background);
}

.main-container {
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--main-container);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container-items {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-color {
  color: var(--main-color);
}

img {
  border-radius: 50%;
  width: 40%;
  max-width: 100%;
}

h1 {
  font-size: 35px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.user-location {
  color: var(--highlight-color);
  font-size: 19px;
  margin-top: 10px;
}

.user-jobtitle {
  font-size: 15px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  background-color: var(--link-color);
  width: 70%;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.link:hover {
  background-color: var(--highlight-color);
  color: var(--body-background);
}

@media (max-width: 375px) {
  .main-container {
    width: 90%;
    padding: 10px;
  }
  .link {
    font-size: 16px;
  }
}
